
#root {
    background:var(--main-bg-color);
    height: 100vh;
    width: 100vw;
    background-image:url('../img/textura.png');
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 0vw;
}

.flexRowCenterH, .flexRowCenterHDirectChild>* {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}


.hidden {
  display: none;
  opacity: 0;
}

h1,h2,h3,h4,h5,h6,span {
    color: var(--main-color) !important;
    font-family: var(--main-typo-family), sans-serif !important;
}

b, * {
  font-family: var(--main-typo-family), sans-serif;
}

.main_bg_color, .MuiInputAdornment-root {
    background-color: var(--main-color) !important;
}
.main_bg_color:hover {
    background-color: #786b4d !important;
}

.buttonBorder {
  border:4px solid #786b4d !important;
}

.borderMainColor {
  border-color: var(--main-color) !important;
}

.MuiDialogTitle-root.flexRowCenterH {
    color: var(--white) !important;
    background: var(--main-color);
}

.MuiDialogTitle-root.flexRowCenterH .iconify {
  transform: scale(1.5);
  margin-left: 0.3em;
}