.homeSlider {
    max-width: 100%;
    cursor: grab;
}
.homeSlider .slideBox {
    opacity: 0.2;
    padding: 2em 0em;
    background: var(--grey-dark);
    border-radius: 5px;
    transform: scale(0.7);
    transition: var(--transition-fast-easeIn);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.homeSlider .activeSlideBox {
    opacity: 1;
    transform: scale(1);
    transition: var(--transition-fast-easeIn);
}

.homeSlider h5 {
    font-size: 1.6em;
    text-align: center;
}

.homeSlider .mainIcon {
    width: 100%;
    margin-bottom: 3em;
    transform: scale(2.5);
    margin-top: 1em;
    color: #b39f74;
}


.homeSlider img.mainIcon {
    width: 150px;
    transform: none;
    margin-left: auto;
    z-index: 2;
    margin-right: auto;
}
.homeSlider img.altIcon {
    width: 116px;
    top: 150px;
    z-index: 1;
    opacity: 0.5;
    left: 20%;
    position: absolute;
}
.homeSlider img.altIcon.left {
    left: 30%;
}

.homeSlider img.altIcon.middle {
    top:80px;
}
.homeSlider img.altIcon.top {
    top:50px;
    left: 32%;
}
.homeSlider img.altIcon.small {
    width: 56px;
}
.homeSlider img.altIcon.right {
    left: 60%;
}


.createRoom,
.joinRoom {
    background: url('../img/textura.png');
    background-size: 100%;
}

@media (max-width: 800px) { 
    .homeSlider .mainIcon {
        width: 100%;
        margin-bottom: 1em;
        margin-top: 0;
        transform: scale(1.5);
    }

    .homeSlider h5 {
        font-size: 1.3em;
    }
}