.topBarIsInRoom {
    background: none !important;
    position: absolute !important;
    top: 0;  
    width: auto !important;
    z-index: 500;
    right: 0;
    box-shadow: none !important;
}

.topBarIsInRoom img {
    display: none;
}

.topBarIsInRoom .MuiIconButton-sizeSmall {
    padding: 0;
}

.topBarIsInRoom .MuiToolbar-root {
    height: 45px;
    min-height: 0;
}

.topBarIsInRoom .MuiAvatar-root {
    height: 30px;
    width: 30px;
}

.stickyRoomTopBar {
    padding-right: 10px !important;
}

.stickyRoomTopBar .MuiFormControlLabel-root {
    margin-right: 0;
}

.stickyRoomTopBar {
      box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.8),0px 10px 50px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}