.joinRoomForm {
    display: flex;
}

.joinRoomForm .input {
    position: relative;
    width: 50px;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #3182ce;
    border-radius: 3px;
}
.joinRoomForm .input input{
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    background-color: transparent;
    font-family: var(--main-typo-family);
    font-size: 3em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: var(--white);
    flex-grow: 0;
    width: 100%;
    text-align: center;
}

.joinRoomForm .input::after {
    position: absolute;
    content: '';
    bottom: 3px;
    width: 84%;
    height: 2px;
    background-color: var(--white);
    left: 4px;
}