.userAvatarBig>div {
    outline:rgba(147, 147, 147, 0.53) solid 7px;
    background: #cecece;
    width: 110px;
    height: 110px;
    display: flex;
    margin: 1em auto 2em auto;
    border-radius: 50%;
	-webkit-animation: rotate-scale-up 1s ease-in-out both;
	        animation: rotate-scale-up 1s ease-in-out both;
}

.userAvatarBig>div svg{
    width: 85%;
    margin: auto;
}
