._ControlsRSWP, ._DevicesRSWP, ._InfoRSWP a+div, ._ActionsRSWP  {
display: none !important;
}
.PlayerRSWP {
display: flex;
flex-direction: column-reverse;
max-width: 80%;
margin-left: auto;
margin-right: auto;
padding: 1em;
}
.PlayerRSWP img {
margin-left: auto;
margin-right: auto;
}
._SliderRSWP  {
margin-top: 1em;
}

._SliderRSWP span {
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.57) !important;
    box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.57) !important;
    height: 15px !important;
    width: 15px !important;
    left: -5px !important;
    top: -5px !important;
    background-color: rgb(255 165 0) !important;
}
._InfoRSWP {
border:none !important;
}
._InfoRSWP a {
width: 100%;
display: block;
}

.spotify_header {
    text-align: center;
}

@media (min-width: 500px) { 
    .spotify_header .player_button_container>div {
        margin: 0 auto !important;
        max-width: 50%;
    }
}