@import 'var.css';
@import 'font.css';
@import 'globalStyle.css';
@import 'home.css';

@import 'mainTopBar.css';
@import 'animations.css';

@import 'playlist.css';
@import 'soundWave.css';

@import 'player.css';
@import 'playersParticularity.css';

@import 'roomBottomSection.css';
@import 'modalShareRoom.css';
@import 'modalJoinRoom.css';
@import 'modalAddMedia.css';

@import 'layout.css';


.votebuttons > button {
padding: 2px !important;
min-width: 50px;
}

.roomPlaylistbloc  .MuiLinearProgress-root {
background-color: #786b4d !important;
}
.MuiListItemButton-root.Mui-selected:hover {
background-color: var(--main-bg-color) !important;
}


.black_style_dialog .MuiPaper-root {
background:var(--main-bg-color);
background-image:url('../img/textura.png');
background-size: cover;
background-position: 50% 50%;
}

.input_big input, .input_big.typed {
font-size: 2em;
color:var(--main-color) !important;
text-transform: uppercase;
background-color:rgba(255, 255, 255, 0.1) !important;
}

@media (max-width: 500px) { 

.spotify_header .player_button_container>div {
    margin: 0 auto !important;
    max-width: 80%;
}

.full_width_modal_content_container {
    padding: 0 !important;
}

.input_big input, .input_big.typed,.input_big.typed:focus {
    font-size: 1em;
    background-color:rgba(255, 255, 255, 0.1);
}


.video_title_list span {
    font-size: 0.8em;
}
.hidden-xs {
    display: none !important;
}
}

.interactionImageContainer {
    position: fixed;
    top: 70vh;
    width: 25px;
    height: auto;
    opacity: 0;
    transform: translateY(0) translateX(0);
    z-index: 1200;
    animation: fall 3s linear forwards;
}


.icon_overlay {
    position: absolute;
    width: 70%;
    opacity: .6;
    transform: rotate(0deg);
    animation : rotate 4s ease-in-out infinite;
}
