
:root{
  --main-bg-color: #4f4f4f;
  --main-bg-color-hexa: 79, 79, 79;
  --main-color: #b39f74;
  --main-color-darker: #75684b;
  --border-color: #3e464d;
  --red:#c63b3b;
  --red-2:#ff5722;
  --green:#2e7d32;
  --green-2:#1cbd24;
  --white:#efeff1;
  --grey-lighter:rgb(217, 217, 228);
  --grey-light:rgb(173, 173, 184);
  --grey-dark:#262626;
  --grey-dark-rgb:38, 38, 38;
  --transition-fast-easeIn:all 0.1s ease-in;
  --transition-smooth-all:all 0.3s ease-out;
}