
:root{
  --main-bg-color: #4f4f4f;
  --main-color: #b39f74;
  --main-color-darker: #75684b;
  --border-color: #3e464d;
  --red:#c63b3b;
  --red-2:#ff5722;
  --green:#2e7d32;
  --green-2:#1cbd24;
  --white:#e5dece;
  --grey-dark:#262626;
  --transition-smooth-all:all 0.3s ease-out;
}
