body,html {
  margin: 0 !important;
  padding: 0 !important;
}

.colorBlue {
  color: var(--blue-light) !important;
}

#root > div {
    overflow-x: hidden;
    max-width: 100vw;
}

.scroll  {
  scrollbar-width:thin !important;
  scroll-behavior: smooth;
  margin-bottom: 8em;
}

#root {
    background:var(--grey-dark);
    max-width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 0vw;
}

#root > div {
    border-radius: 0;
    min-height: 100vh;
}

.blurtextura {
  background-image: url('../img/circles.png');
  background-size: contain;
}

.MuiDialog-container .flexRowCenterH {
  background-image:url('../img/textura.png');
  background-size: cover;
  position: relative;
}

.flexRowCenterH svg {
  z-index: 2;
  margin-right: 1em;
}

.flexRowCenterH, .flexRowCenterHDirectChild>* {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.hidden, .jss5 {
  display: none !important;
}

.jss1 {
  padding: 0 !important;
}

.hiddenButPresent {
  opacity: 0 !important;
  height: 0 !important;
  overflow: hidden;
}

h1,h2,h3,h4,h5,span {
    color: var(--main-color) !important;
}

b, * {
  font-family: var(--main-typo-family), sans-serif;
}

.main_bg_color, .MuiInputAdornment-root {
    background-color: var(--main-color) !important;
}
.main_bg_color:hover {
    background-color: var(--main-color-darker) !important;
}
.main_bg_color span {
  color: var(--white) !important;
}

.buttonBorder {
  border:4px solid var(--main-color-darker) !important;
}

.btnIconFixToLeft .MuiButton-startIcon{
  position: absolute;
  left: 4%;
  transition: var(--transition-smooth-all);
}

.btnIconFixToLeft:hover .MuiButton-startIcon{
  left: calc(100% - 7%);
}
.borderMainColor {
  border-color: var(--main-color) !important;
}


.MuiDialogTitle-root.flexRowCenterH {
  color: var(--grey-dark) !important;
  background: url('../img/textura.png');
  background-size: 100%;
}

.MuiDialogTitle-root.flexRowCenterH .iconify {
  transform: scale(1.5);
  margin-left: 0.3em;
}

.textEllipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.playlistAdminPass {
  color: var(--white) !important;
  background: var(--main-color);
  padding: 5px;
  width: 100%;
  display: block;
  border-radius: 10px;
  text-align: center;
  font-size: 3em;
  border: 3px dashed var(--main-color-darker);
}