/* trick to hide youtube video title */
.react-player {
    >div {
            overflow: hidden;
            width: 100%;
            /* Keep it the right aspect-ratio */
            aspect-ratio: 16/9;
            /* No clicking/hover effects */
            pointer-events: none;
        iframe {
            width: 300%;
            height: 100%;
            margin-left: -100%;
        }
    }
}

.player_button_container {
    position: sticky;
}

.playerHide {
    overflow: hidden;
}
.playerHide .playerContainer, .playerHide .PlayerRSWP{
    height: 0;
    opacity: 0;
}

.coverImg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-width: 250px;
}

.player_right_side_container {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
    height: auto !important;
    background-image: url('../img/circles.png');
    background-size: contain;
}
